body{
    text-align: center;
}
h1{
    font-size: 40px;
    font-family: monospace;

}
#app{
    background-color: cyan;
}
#game{
    background-color: greenyellow;
}
.line{
    height: 6px;
    width: 70px;
    background-color: orange;
    margin: 8px auto;
}